.load3 .loader {
    font-size: 10px;

    text-indent: -999999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: greenyellow;

    background: -webkit-linear-gradient(left, greenyellow 10%, rgba(255, 255, 255, 0) 42%);

    position: relative;
    -webkit-animation: load3 1.8s infinite linear;
    animation: load3 1.8s infinite linear;
}
.load3 .loader:before {
    width: 50%;
    height: 50%;
    background: greenyellow;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.load3 .loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

